.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 80px;
}

.logo {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  font-family: var(--font-display);
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

nav ul a {
  position: relative;
  color: var(--color-bg-surface);
  font-size: 1rem;
  font-weight: var(--fw-medium);
  font-family: var(--font-display);
  transition: color 0.3s ease;
}

nav ul a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--color-primary);
  transition: width 0.3s;
}

nav ul a:hover,
.active {
  color: var(--color-primary);
  font-weight: bold;
}

.active::after,
nav ul a:hover::after {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media (max-width: 790px) {
  nav {
    /* Remove display: none; */
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    padding: 2rem;

    /* Animation Setup */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s;
    z-index: 10;
  }

  /* Slide down and fade in */
  nav.mobileVisible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .icons {
    display: none;
  }
}
