.actions {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.icon {
  padding: 4px;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-4);
  color: var(--color-primary);
  transition:
    color var(--transition-slow),
    background-color var(--transition-slow);
}

.icon:hover {
  color: var(--color-bg-page);
  background-color: var(--color-primary);
}

@media (max-width: 800px) {
  .actions {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background: var(--color-bg-page);
    position: absolute;
    top: 250px;
    left: 0;
    z-index: var(--z-navbar);
    transform: translateY(-10px);
    transition:
      visibility var(--transition-base),
      transform var(--transition-base),
      opacity var(--transition-base);
  }

  .actions.mobileVisible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
